/**
 * Testplan Executor stylesheet
 *
 */
@CHARSET "UTF-8";

@media all {
    body {
        padding-top: 60px;
        font-family: verdana, helvetica, sans-serif;
    }

    textarea {
        font-family: consolas, courier-new, monospace;
    }

    footer {
        text-align: center;
        font-size: smaller;
        color: grey;
        margin-top: 5em;
    }

    .code {
        white-space: pre;
        font-family: monospace;
    }

    .header {
        margin-bottom: 2em;
    }

    .icon {
        text-align: center;
    }
    
    .testplan {
        font-weight: bold;
    }
    
    .device {
        font-style: italic;
    }

} 

@media print {
    .no-print {
        display: none;
    }

    body {
        margin: 0;
    }
}

